<nav class="navbar">
    <div style="color: white;">
      <h1>
        <br>
        <button mat-button (click)="sidenav.toggle()"><img src="pmenu.jpg" width="50px"></button>
        <strong>Series y Peliculas
            <span class="user-info" *ngIf="usuario">Hola {{ usuario.nombre }}.</span>
        </strong>
      </h1>
    </div>
    <div class=""*ngIf="usuario">
        <button mat-button class="icono" [matMenuTriggerFor]="menu1">
            <img [src]="usuario.avatar" alt="Avatar" class="user-avatar" />
        </button>
        <mat-menu #menu1="matMenu" yPosition="above">
            <button mat-menu-item class="mat-menui" (click)="miPerfil()">Mi perfil</button>
            <button mat-menu-item class="mat-menui" (click)="salir()">Cerrar Sesión</button>
            <button mat-menu-item class="mat-menui" (click)="eliperf()">Eliminar mi perfil</button>
        </mat-menu>
    </div>
  </nav>

  <!-- Contenedor principal -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="dashboardOpen" class="dashboard-sidenav">
        <ul class="dashboard-buttons">
            <br>
            <li><button mat-button (click)="home()">Inicio</button></li>
            <li><button mat-button (click)="editperf()">Editar Perfil</button></li>
            <li><button mat-button (click)="addus();">Agregar usuario</button></li>
            <li><button mat-button>Agregar Película</button></li>
            <li><button mat-button (click)="salir();">Cerrar Sesión</button></li>
        </ul>
    </mat-sidenav>

    <!-- Contenido principal -->
    <div class="main-container">  
        <mat-card appearance="outlined" class="cuerpo">
            <mat-card-header>
                <mat-card-title id="titulo">Agregar una película a la cartelera</mat-card-title>
                <mat-card-subtitle id="subtitulo">Asegurese de guardar los cambios de lo contrario no se aplicarán.</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <form class="formulario">
                    <span class="espacio"></span>
                    <div class="row">
                        <mat-form-field appearance="outline" style="color: white;">
                            <mat-label>Título</mat-label>
                            <input matInput type="text" [(ngModel)]="this.titulo" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                        <mat-error *ngIf="errtitulo">El título no es válido</mat-error>
                    </div>
                    <div class="row">            
                        <mat-form-field appearance="outline">
                            <mat-label>Año de la filmación</mat-label>
                            <input matInput type="text" [(ngModel)]="this.anio" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                        <mat-error *ngIf="erranio">Fecha incorrecta</mat-error>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="full">
                            <mat-label>Género principal</mat-label>
                            <input matInput type="text" [(ngModel)]="this.genero" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                        <mat-error *ngIf="errgenero">Datos incorrectos</mat-error>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="full">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput rows="5" type="text" [(ngModel)]="this.descripcion" [ngModelOptions]="{standalone: true}"></textarea>
                        </mat-form-field>
                        <mat-error *ngIf="errdescripcion">Campo vacío</mat-error>
                    </div>
                    <p>Deberá colocar la URL de la nueva imagen.</p>
                    <div class="row">
                        <mat-form-field appearance="outline" class="full">
                            <mat-label>URL de imagen</mat-label>
                            <textarea matInput rows="2" type="text" [(ngModel)]="this.poster" [ngModelOptions]="{standalone: true}"></textarea>
                        </mat-form-field>
                        <mat-error *ngIf="errposter">Campo vacío</mat-error>
                    </div>
                </form>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button (click)="guardar()" id="aceptar">Guardar</button>
                <span class="espacio"></span>
                <button mat-button (click)="cancelar()" id="cancelar">Cancelar</button>
            </mat-card-actions>
        </mat-card>
    </div>
  </mat-sidenav-container>