<div class="fondo">
    <h2 mat-dialog-title class="titulo">{{data.name}}</h2>
<mat-dialog-content>
    <h3>Si no guarda los cambios y cierra la ventana estos cambios se perderán.</h3>
    <form class="formulario">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Contraseña anterior</mat-label>
                <input matInput type="password" [(ngModel)]="this.anteriorcontra" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-error *ngIf="erroranterior">Contraseña incorrecta</mat-error>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput type="password" [(ngModel)]="this.nuevacontra" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
            <mat-error *ngIf="errornueva">Campo inválido</mat-error>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput type="password" [(ngModel)]="this.confirmacontra" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
            <mat-error *ngIf="errorconfirmar">Las contraseñas no coinciden</mat-error>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="guardar()" id="aceptar">Guardar</button>
    <button mat-button (click)="cerrar()" id="cancelar">Cerrar</button>
</mat-dialog-actions>
</div>
